<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src='app.js'></script>
    <title>Cmplx Tbl</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl as ctrl">
    <div class="container">
        <div class="row">
            <table class="table ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Estado</th>
                        <th>Capital</th>
                        <th>Sigla</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in estrutura track by $index">
                    <tr ng-if="item.estado">
                        <td>{{$index}}</td>
                        <td>{{item.estado}}</td>
                        <td>{{item.capital}}</td>
                        <td>{{item.sigla}}</td>
                        <td>
                            <button class="btn btn-success btn-block" 
                                    ng-click="collapse($index)">Expand</button>
                        </td>
                        <td>
                                <button class="btn btn-warning btn-block" 
                                        ng-click="item.isCollapsed2=!item.isCollapsed2">Expand</button>
                        </td>
                    </tr>
                    <tr ng-show="item.isCollapsed2">
                        <td colspan="6">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                                <th>Option1</th>
                                                <th>Option2</th>
                                                <th>Option3</th>
                                                <th>Option4</th>
                                                <th>Option5</th>
                                                <th>Option6</th>
                                                <th>Option7</th>
                                                <th>Option8</th>
                                                <th>Option9</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">A
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                        </div>
                                                </td>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">B
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                <li><a href="#">HTML</a></li>
                                                                <li><a href="#">CSS</a></li>
                                                                <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                                </div>
                                                </td>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">C
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                <li><a href="#">HTML</a></li>
                                                                <li><a href="#">CSS</a></li>
                                                                <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                                </div>
                                                </td>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">D
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                <li><a href="#">HTML</a></li>
                                                                <li><a href="#">CSS</a></li>
                                                                <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                                </div>
                                                </td>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">E
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                <li><a href="#">HTML</a></li>
                                                                <li><a href="#">CSS</a></li>
                                                                <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                                </div>
                                                </td>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">F
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                <li><a href="#">HTML</a></li>
                                                                <li><a href="#">CSS</a></li>
                                                                <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                                </div>
                                                </td>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">G
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                <li><a href="#">HTML</a></li>
                                                                <li><a href="#">CSS</a></li>
                                                                <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                                </div>
                                                </td>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">H
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                <li><a href="#">HTML</a></li>
                                                                <li><a href="#">CSS</a></li>
                                                                <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                                </div>
                                                </td>
                                                <td>
                                                        <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">I
                                                                <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                <li><a href="#">HTML</a></li>
                                                                <li><a href="#">CSS</a></li>
                                                                <li><a href="#">JavaScript</a></li>
                                                                </ul>
                                                                </div>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </td>
                     </tr>
                     <!-- END collapse2 -->
                     <tr ng-show="item.isCollapsed">
                                <td colspan="6">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                        <th>Opção 1</th>
                                                        <th>Opção 2</th>
                                                        <th>Opção 3</th>
                                                        <th>Opção 4</th>
                                                        <th>Opção 5</th>
                                                        <th>Opção 6</th>
                                                        <th>Opção 7</th>
                                                        <th>Opção 8</th>
                                                        <th>Opção 9</th>
                                                </tr>
                                           </thead>
                                           <tbody>
                                                <tr>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">A
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                                <li><a href="#">HTML</a></li>
                                                                                <li><a href="#">CSS</a></li>
                                                                                <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                </div>
                                                        </td>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">B
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                        </div>
                                                        </td>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">C
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                        </div>
                                                        </td>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">D
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                        </div>
                                                        </td>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">E
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                        </div>
                                                        </td>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">F
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                        </div>
                                                        </td>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">G
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                        </div>
                                                        </td>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">H
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                        </div>
                                                        </td>
                                                        <td>
                                                                <div class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">I
                                                                        <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">HTML</a></li>
                                                                        <li><a href="#">CSS</a></li>
                                                                        <li><a href="#">JavaScript</a></li>
                                                                        </ul>
                                                                        </div>
                                                        </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </td>
                             </tr>
                             <!--end collapse -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>